# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Env
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build
dist/
dist-ssr/
build/
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Optional lock files
package-lock.json

# Prevent nested git repos (IMPORTANT)
backend/.git

# Misc
*.pid
*.seed
*.pid.lock